.container-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 115px;
  width: 100%;
  background-color: rgb(77, 184, 82, 80%)
  /* background-color: rgb(77, 184, 82, 80%); */
}
.title-footer {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 15px;
  color: white;
}
.github {

  cursor: pointer;
  color: white;
  font-size: 22px;
  padding-bottom: 2px;
   
}
